*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 244, 244);
    
}

/* main */
.hero{
    width: 100%;
    height: 100vh;
    
}

/* Logo */
.logo{

    width: 200px;
     margin-top: 40px;
    margin-left: 50px;
    /* padding-top: 40px;
    padding-left: 50px; */
    
}

/* Content */
.content{
    margin-top: 3%;
    min-width: 600px;
    margin-left: 30%;
}
h1{
    
    font-family: 'Lato', sans-serif;
    font-weight:900 ;
    font-size: 28px;
    color: rgb(61, 61, 61);
    
}
p{
    
    color: rgb(76, 75, 75);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    animation-delay: 0.5s;
}


.second{
    margin-left: 6%;
    margin-top: .5%;
    
    
    

}

.third{
    margin-left: 11%;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.forth{
    margin-left: 2%;
    word-spacing: 3px;
}
a{
    text-decoration: none;
}

/* Button */
.btn{
     display: inline-flex;
     width: 230px;
     height: 45px;
     padding: 0;
     background: white;
     border: 2px solid rgb(17, 106, 165);
     outline: none;
     border-radius: 5px;
     overflow: hidden;
     font-size: 16px;
     font-family: 'Lato', sans-serif;
     font-weight: 700;
     cursor: pointer;
     color:rgb(17, 106, 165);
     margin-top: 20px;
     margin-left: 10%;
     
}

.btn_text,.btn_logo{
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    

}
/* people image */
.images{
    
    margin-top: 10px;
    
}
.images img{
    margin-left: 20%;
}

.images.anim{
    animation-delay: .7s;
}
/* Animation */
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;

} 
 @keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);

    } 
}

/* responsive */

@media only screen and (max-width:700px) {
    .logo{
        width: 120px;
        margin-top: 20px;
        margin-left: 25px;
    }
    h1{
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight:900;
    }
    .images img{
        width: 400px;
        margin-left: 14%;
        margin-top: 1%;
    }
    p{
        /* font-family: 'Roboto', sans-serif; */
        color: rgb(76, 75, 75);
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        animation-delay: 0.3s;
    }
    .first{
        margin-left: 10%;
    }
    .second{
        margin-left: 16%;
        margin-top: 1%;
    }
    .third{
        margin-left: 23%;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .forth{
        margin-left: 2%;
        /* word-spacing: 2px; */
    }

    .btn{
        display: inline-flex;
        width: 150px;
        height: 30px;
        padding: 0;
        background: white;
        border: 2px solid rgb(17, 106, 165);
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        cursor: pointer;
        color:rgb(17, 106, 165);
        margin-top: 20px;
        margin-left: 22%;
        
   }
   .btn_text,.btn_logo{
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    

}
.content{
    margin-top: 25%;
    min-width:400px ;
    margin-left: 17%;
}

.telelogo{
    width: 25px;
}


    
}